/*site.css*/

body {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none
}

span {
    max-width: 500px;
}

.header {
    margin-top: 0;
    margin-right: 0;
    padding-top: 32px;
    padding-left: 96px;
    background-color: #2196F3;
    height: 96px;
    width: auto;
}

.header-text {
    font-size: 32px;
    font-weight: 400;
    color: white;
    white-space: nowrap;
}

.content-container {
    margin: 0 96px;
}

.syntax-box {
    border: gainsboro 1px solid;
    width: 100%;
    min-width: 798px;
    max-width: 1200px;
    padding: 0;
}

.syntax-table {
    margin: 0;
    padding: 0;
}

.syntax-toggle {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    border: gainsboro solid 1px;
    background-color: gainsboro
}

.btn-primary {
    width: 150px;
    background-color: #2196F3;
}

@media (max-width: 991px) {
    .syntax-box {
        border: gainsboro 1px solid;
        width: 100%;
        min-width: 573px;
        max-width: 798px;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .header-text {
        font-size: 24px;
        font-weight: 400;
        color: white;
        white-space: nowrap;
        width: auto;
    }
    .syntax-box {
        border: gainsboro 1px solid;
        width: 100%;
        min-width: 288px;
        max-width: 573px;
        padding: 0;
    }
}

@media (max-width: 480px) {
    body {
        width: 480px;
    }
    .syntax-box {
        border: gainsboro 1px solid;
        width: 288px;
        padding: 0;
    }
}